*{
	margin: 0;
	padding: 0;
	background-color: beige;
}
.main{
	max-width: auto;
	margin: auto;
}
ul{
	margin: 50px;
	
}
h1{
    font-family: 'Segoe print';

}

ul li{
	display: inline-block;
	padding: 40px;
	font-size: large;
}
ul li a{
	text-decoration: none;
	color: black;
	padding: 10px 20px;
	border: 2px solid gray;
	font-family: 'Courier New';
	background-color: papayawhip;
}

ul li .active a{
    background-color: black;
    color: whitesmoke;
}
.box{
	border: solid black ;
	padding: 50px;
	margin: 150px 80px 80px 80px;

}
.tb5{
	border: solid gray;
	margin-top: 70px;
	margin-left: 250px;
	width: 800px;
	height: 350px;
    border-radius: 7px;
	border-width: 1px;
	padding: 40px;
}

.logo img{
	width: 160px;
	height: auto;
	float: left;
	margin-top: 10px;
	margin-left: 20px;
	border: solid;
	border-width: 1px;
}
footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}