*{
	margin: 0px;
    box-sizing: border-box; 
	background-color: beige;
}
.main{
	max-width: auto;
	margin: auto;
}
ul{
	float: right;
	margin-top: 30px;
	
}
h1{
    font-family: Georgia;
}

ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: black;
	padding: 5px 20px;
	border: 1px solid gray;
    border-radius: 5px;
	font-family: 'Courier New';
	background-color: papayawhip;
}
ul li a:hover{
    background-color: peachpuff;
    color: black;
    transition: 0.5s;
}

ul li .active a{
    background-color: black;
    color: whitesmoke;
}
.box{
   margin-left: 570px;
   padding-top: 20px;
}
.tb{
    margin-left: 40px;
    margin-top: 30px;
}

td img{
    margin-top: 0px;
    width: 200px;
    padding-inline: 10px;
    height: 200px;
    border-radius: 0px;
}
.logo img{
	width: 110px;
	height: auto;
	float: left;
	margin-top: 10px;
	margin-left: 20px;
	border: solid;
	border-width: 1px;
}
footer{
    margin-top: 10px;
    height: 50px;
    background-color: rgb(231, 164, 164);
    text-align: center;
    padding-top: 15px;
    color: black;
    font-family: 'Courier New';
  
}