.btn{
    margin: 10px;
    position: fixed;
    bottom: 20px;
    font-size: 20px;
    padding: 10px;
    left: 20px;
    background-color: #a9b4a4;
    text-decoration: none;
    border: 1px solid #504f4c;
    border-radius: 8px;
    color: black;
}
.btn:hover{
background-color: #504f4c ;
color: white;
}
H1{
    text-align: center;
    color:rebeccapurple ;
    font-family: 'century gothic';
}